In [2]:
import pandas as pd ;

# working with json locally

In [4]:
df = pd.read_json('train.json') ;
print(df);

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

# reading Json from an url

In [7]:
df = pd.read_json('https://api.exchangerate-api.com/v4/latest/INR');
print(df);

                             provider  \
INR  https://www.exchangerate-api.com
AED  https://www.exchangerate-api.com
AFN  https://www.exchangerate-api.com
ALL  https://www.exchangerate-api.com
AMD  https://www.exchangerate-api.com
..                                ...
XPF  https://www.exchangerate-api.com
YER  https://www.exchangerate-api.com
ZAR  https://www.exchangerate-api.com
ZMW  https://www.exchangerate-api.com
ZWL  https://www.exchangerate-api.com

                          WARNING_UPGRADE_TO_V6  \
INR  https://www.exchangerate-api.com/docs/free
AED  https://www.exchangerate-api.com/docs/free
AFN  https://www.exchangerate-api.com/docs/free
ALL  https://www.exchangerate-api.com/docs/free
AMD  https://www.exchangerate-api.com/docs/free
..                                          ...
XPF  https://www.exchangerate-api.com/docs/free
YER  https://www.exchangerate-api.com/docs/free
ZAR  https://www.exchangerate-api.com/docs/free
ZMW  https://www.exchangerate-api.com/docs/free
ZWL  https://www.exchangerate-api.com/docs/free

                                      terms base       date  \
INR  https://www.exchangerate-api.com/terms  INR 2025-02-19
AED  https://www.exchangerate-api.com/terms  INR 2025-02-19
AFN  https://www.exchangerate-api.com/terms  INR 2025-02-19
ALL  https://www.exchangerate-api.com/terms  INR 2025-02-19
AMD  https://www.exchangerate-api.com/terms  INR 2025-02-19
..                                      ...  ...        ...
XPF  https://www.exchangerate-api.com/terms  INR 2025-02-19
YER  https://www.exchangerate-api.com/terms  INR 2025-02-19
ZAR  https://www.exchangerate-api.com/terms  INR 2025-02-19
ZMW  https://www.exchangerate-api.com/terms  INR 2025-02-19
ZWL  https://www.exchangerate-api.com/terms  INR 2025-02-19

     time_last_updated   rates
INR         1739923201  1.0000
AED         1739923201  0.0422
AFN         1739923201  0.8470
ALL         1739923201  1.0900
AMD         1739923201  4.5600
..                 ...     ...
XPF         1739923201  1.3100
YER         1739923201  2.8500
ZAR         1739923201  0.2120
ZMW         1739923201  0.3230
ZWL         1739923201  0.3040

[162 rows x 7 columns]

# working with SQL

In [2]:
# for it we need to connect sql with python the work of this library is to establish connection between sql and library

In [4]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     -- ------------------------------------- 0.8/11.9 MB 8.5 MB/s eta 0:00:02
     --------- ------------------------------ 2.9/11.9 MB 9.3 MB/s eta 0:00:01
     ---------------- ----------------------- 5.0/11.9 MB 9.2 MB/s eta 0:00:01
     ----------------------- ---------------- 6.8/11.9 MB 9.3 MB/s eta 0:00:01
     ------------------------------ --------- 8.9/11.9 MB 9.4 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 9.3 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 9.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=632d660e9aaa073cd6b70676f2ef7cb4f3b79beb4244b8975a002ee20075e7af
  Stored in directory: c:\users\ashut\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [6]:
import mysql.connector;

In [ ]:
#connecting to the db here we to pass if the local server than local else ip of the servers,user name on the machine,
# the database on the server 
conn = mysql.connector.connect(host = 'localhost',user = 'root',password = '',databse = 'world')

In [ ]:
# we will recieve mySql connection and basically it is the database object we can use this database 
# by using sql we can easily manipulate the data
df = pd.read_sql_query("select * from city",conn);